VITE_API_URL=http://localhost:9005
VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your-public-anon-key
VITE_GOOGLE_CLIENT_ID=458524892192-vpmp2cnrtgogj0dveimdhp4mm124c0cu.apps.googleusercontent.com
